@using Microsoft.AspNetCore.Identity;
@using AwesomeNetwork.Models.Users;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager;

@model AwesomeNetwork.ViewModels.Account.MainViewModel;

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (SignInManager.IsSignedIn(User))
{
    <div>Hello @User.Identity!</div>
}
else
{
    <div class="row">
        <div class="side">
            <div class="center">
                Пользуйтесь нашей соцсетью! Регистрируйтесь, делитесь мыслями, находите новых друзей.
            </div>
            <img class="main-img" src="https://www.freeiconspng.com/thumbs/turtle-png/turtle-png-28.png" />

        </div>

        <div class="main">
            <partial name="Login"  />
            <partial name="Register"  />
        </div>

    </div>
}


